# YZV 311E DATA MINING PROJECT
# <strong>Detection Of Sucidal Texts</strong>
## Zehra Demir
## Nurbanu GÃ¶k

### Importing the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Reading the data file

In [2]:
df = pd.read_csv("data/Suicide_Detection_50k.csv")

In [14]:
df.head()

                                                text        class
0  How do you shower? May you tell me how you sho...  non-suicide
1  How do I prevent suicide before it even starts...      suicide
2  Suicidal ThoughtsI haven't gone 1 day without ...      suicide
3  Ignore, just checkin somethin' Just checking i...  non-suicide
4  iâ€™m a busy man ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ jk all i do is go on r...  non-suicide

In [15]:
df.shape

(50000, 2)

## Data Preprocessing

In [16]:
df.isna().sum()

text     0
class    0
dtype: int64

In [17]:
df.duplicated().sum()

0

In [18]:
df.dtypes

text     object
class    object
dtype: object

### Some work has been done when reducing the data set to be able to fit it in GitHub repository. This is why we do not have any null or duplicate values now. You can find the details in data_reducing.ipynb file.

### We can now proceed with the text preprocessing part.

## Text Preprocessing

### Lowercasing the text data

In [19]:
df['text'] = df['text'].str.lower()
df.head()

                                                text        class
0  how do you shower? may you tell me how you sho...  non-suicide
1  how do i prevent suicide before it even starts...      suicide
2  suicidal thoughtsi haven't gone 1 day without ...      suicide
3  ignore, just checkin somethin' just checking i...  non-suicide
4  iâ€™m a busy man ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ jk all i do is go on r...  non-suicide

#

### Remove Punctuations

### Remove Stop Words

### Tokenization

### Stemming

## TF - IDF