In [3]:
import numpy as np
import pandas as pd

In [20]:
df = pd.read_csv('Suicide_Detection.csv')
df.head()

   Unnamed: 0                                               text        class
0           2  Ex Wife Threatening SuicideRecently I left my ...      suicide
1           3  Am I weird I don't get affected by compliments...  non-suicide
2           4  Finally 2020 is almost over... So I can never ...  non-suicide
3           8          i need helpjust help me im crying so hard      suicide
4           9  Iâ€™m so lostHello, my name is Adam (16) and Iâ€™v...      suicide

In [21]:
df.shape

(232074, 3)

In [22]:
df.isna().sum()

Unnamed: 0    0
text          0
class         0
dtype: int64

In [23]:
df.duplicated().sum()

0

In [24]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

                                                text        class
0  Ex Wife Threatening SuicideRecently I left my ...      suicide
1  Am I weird I don't get affected by compliments...  non-suicide
2  Finally 2020 is almost over... So I can never ...  non-suicide
3          i need helpjust help me im crying so hard      suicide
4  Iâ€™m so lostHello, my name is Adam (16) and Iâ€™v...      suicide

In [25]:
# reduce data size to 50000
df = df.sample(50000, random_state=23)

In [26]:
df.reset_index(inplace=True, drop=True)
df.head()

                                                text        class
0  How do you shower? May you tell me how you sho...  non-suicide
1  How do I prevent suicide before it even starts...      suicide
2  Suicidal ThoughtsI haven't gone 1 day without ...      suicide
3  Ignore, just checkin somethin' Just checking i...  non-suicide
4  iâ€™m a busy man ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ jk all i do is go on r...  non-suicide

In [27]:
df.to_csv('Suicide_Detection_50k.csv', index=False)